/* the text in the right hand of the page */
.page_text
{
	background-image: url("../images/dashed_line.png");
	background-repeat:repeat-y;
	float: right;
	width: 340px;
	margin-right: 86px;
	margin-top: 34px;
	line-height: 200%;
	font-family: arial;
	font-size: 12px;
	color: #330000;
}

/* the drawing of the house in the right part */
#house_drawing
{
	margin: 29px 1px 11px 0px;
}

#footer
{
	padding-top: 26px;
}

/* image gallery */
#photo_frame
{
	position: relative;
	margin-top: 34px;
	width: 425px;
	height: 313px;
	overflow: hidden;
}

#photo_frame img
{
	padding: 6px 6px 0px 0px;
}

#photo_frame_overlay
{
	position:absolute; top:0; left:0; width: 100%; height: 100%; z-index:998;
	background: url("../images/frame_big.png") no-repeat center;
}

#thumbnails_panel
{
	margin-top: 11px;
	width: 354px;
}

#upper_gallery_strip
{
	margin: 12px 60px 7px 0px;
	float: right;
}

#lower_gallery_strip
{
	margin: 6px 60px 0px 0px;
	float: right;
}

#thumbnails_toolbar
{
	margin-right: 35px;
	width: 354px;
}

#right_arrow
{
	width: 24px;
	height: 11px;
	margin: 24px 0px 0px 3px;
	vertical-align: middle;
	clear: both;
	float: right;
	display: block;
	border: 0px;
}

img.right_arrow
{
	background: url("../images/right_arrow.gif") top left no-repeat;
}

img.right_arrow:hover 
{
	background: url("../images/right_arrow_hl.gif") top left no-repeat;
}

img.right_arrow_disabled
{
	background: url("../images/right_arrow_da.png") top left no-repeat;
}

#left_arrow
{
	width: 24px;
	height: 11px;
	margin: 24px 3px 0px 0px;
	float: right;
	border: 0px;
}

img.left_arrow 
{
	background: url("../images/left_arrow.gif") top left no-repeat;
}

img.left_arrow:hover
{
	background: url("../images/left_arrow_hl.gif") top left no-repeat;
}

img.left_arrow_disabled
{
	background: url("../images/left_arrow_da.png") top left no-repeat;
}

#thumbnails
{
	position: relative;
	width: 300px;
	height: 54px;
	float: right;
	overflow: hidden;
}

#thumbnails_wrapper
{
	position: absolute;
	width: 1320px;/* # of photos x 60*/
	height: 54px;
}

.thumbnail
{
	background: url("../images/frame_small.png") no-repeat center;
	margin-left: 3px;
	margin-right: 3px;
	width: 54px;
	height: 54px;
	float: right;
}

div.thumbnail:hover
{
	background: url("../images/frame_small_hl.png") no-repeat center;
	margin-left: 3px;
	margin-right: 3px;
	width: 54px;
	height: 54px;
	float: right;
}

.thumbnail img
{
	margin: 4px 4px auto;
	width: 46px;
	height: 46px;
	border: 1px black;
}
/* end of image gallery */
