$bg-color: #EEE6C9;
$active-color: #D16A1A;
$toolbar-button-color: #4C0000;
$toolbar-button-active-color: $active-color;
$header-middle-color: #AA8546;
$title-color: #AA8546;
$title-active-color: $active-color;
$email-color: #996600;
$email-hover-color: $active-color;//#CC6600;

$asterisk-text-color: $title-color;
