@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

$bg-color: #EEE6C9;
$active-color: #D16A1A;
$toolbar-button-color: #4C0000;
$toolbar-button-active-color: $active-color;
$header-middle-color: #AA8546;
$title-color: #AA8546;
$title-active-color: $active-color;
$email-color: #996600;
$email-hover-color: $active-color;//#CC6600;

body {background-color: $bg-color;}

#main {
  width: 1000px;
  height: 750px;
  direction: rtl;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

// beginning of header definitions

#header {
  font-family: "Alef Hebrew";
  font-weight: bold;
  margin-top: 27px;

  div {
    display: inline-block;
    vertical-align: top;
  }
  img { vertical-align: top; }
}

#logo {
  margin: 13px 40px 0 26px;
}

#header_without_logo {
  margin: 0 -4px 0 0;
  width: 833px;
}

#header_left_image {
  margin: 0 -4px 0 0;
}

#header_right_image {
  margin: 0 1px 0 -5px;
}

#header_middle {
  background: url("../images/header_middle.png") no-repeat;
  color: $header-middle-color;  
  font-size: 11pt;
  height: 125px;
  line-height: 16px;
  padding: 12px 11px 0;
  text-align: center;
  
  .hdr_number {
    display: block;
    font-family: "Arial Rounded MT Bold";
    font-size: 15px;
    line-height: 19px;
    margin: 5px 0 3px;
  }
}

.rom1125_on_f {
  a:hover {}
  img {
    vertical-align: middle;
  }
}

#toolbar_buttons {
  color: $toolbar-button-active-color;
  font-size: 16px;  
  line-height: 21px;
  margin: 5px 0 0 0;
  span#prices {
    display: block;
    margin: -6px 0 -2px 0;
  }
}

#header_middle a, #toolbar_buttons a {
  color: $toolbar-button-color;
  text-decoration: none;
  &:hover {
   color: $toolbar-button-active-color;
  }
}

#header_bottom { margin: -1px 0 0; }

#email_address {
  display: block;  
  font-family: arial, sans-serif;
  font-size: 11px;  
  font-weight: normal;
  margin: -3px auto 1px;  
  text-align: center;
}

a.email_address {
  color: $email-color;
  text-decoration: none;
  &:hover {
    color: $email-hover-color;
  }
}

// Hack for our friends IE10 and IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @import 'ie9-11';
}


// end of header definitions

.title {
    background: none $bg-color;
    color: $title-color;
    display: block;
    font-family: "Alef Hebrew";
    font-size: 15px;
    font-weight: bold;
    
    a {
      color: $title-color;
      text-decoration: none;
      &:hover {
        color: $active-color;
      }
      &.active {
        color: $active-color;
      }
    }
}

#right_part {
  margin-right: 40px;
}

#left_part, #right_part {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
}

#vert_sep {
  display: inline-block;
  margin: 14px 27px 0 28px;
}

#vert_bar {
  width: 2px;
  height: 440px;
  margin: 0 1px 0 1px;
  background-color: #cbb787;
}

.sep_image {
  padding: 0;
  display: block;
}

#footer {
  margin: 0px 50px 0px 50px;
}

.invisible {
  display: none;
}